<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738694388253-tk44opugljfkbu3no4iavgg5ulhmc11u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738694388253-tk44opugljfkbu3no4iavgg5ulhmc11u</string>
	<key>API_KEY</key>
	<string>AIzaSyAwtwlH3HmUT7i3oWorIoVl8hWMXC0aNw4</string>
	<key>GCM_SENDER_ID</key>
	<string>738694388253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qairadrones.rutas001</string>
	<key>PROJECT_ID</key>
	<string>bid-test-add77</string>
	<key>STORAGE_BUCKET</key>
	<string>bid-test-add77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738694388253:ios:7aacc03f1218cf037e44f4</string>
</dict>
</plist>